@model Scholl_management_WebApplicationmodel.Model.CityModel
@{
    Layout =
"~/Views/Shared/_dashboard.cshtml";
}
@{
    ViewBag.Title = "AddCity";
}

<h2>AddCity</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CityModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CountryName, new SelectList(ViewBag.Countrylist, "Id", "CountryName"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StateName, new SelectList(""), new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.StateName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "CityList")
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $("#CountryName").change(function () {
            $.get("/City/GetStates", { id: $(this).val() }, function (data) {
                $("#StateName").empty();
                $.each(data, function (index, row) {
                    $("#StateName").append($('<option></option>').val(row.Id).text(row.StateName));
                   
                });
            });
        });
    });
</script>

